@font-face {
  font-family: 'Bebas Neue';
  src: local("Bebas Neue Regular Regular"), local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background-color: #635854;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 4px solid #3596f5;
  font-family: Roboto;
}

.header .navbar {
  max-width: 1280px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar .navbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar .navbar-menu .navbar-item {
  margin-left: 40px;
  margin-right: 40px;
  max-width: 120px;
  text-align: center;
}

.header .navbar .navbar-menu .navbar-item .navbar-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.header .navbar .navbar-contacts {
  text-align: right;
}

.header .navbar .navbar-contacts .navbar-text {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin-bottom: 4px;
}

.header .navbar .navbar-contacts .navbar-phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}

.main {
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .home-image path {
  opacity: 0;
  cursor: pointer;
}

.main .home-image path:hover {
  opacity: 1;
}

.main .home-image .current-floor {
  opacity: 1;
}

.main .main-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main-info .main-title {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
}

.main .main-info .counter-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main-info .counter-group .counter {
  font-family: "Bebas Neue", sans-serif;
  color: #636363;
  font-size: 66px;
}

.main .main-info .counter-group .counter-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.main .main-info .counter-group .counter-button .counter-arrow-down {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.main .main-info .button-primary {
  background-color: #3596f5;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 16px 36px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.footer {
  background-color: #D7D7D7;
  border-top: 4px solid #3596f5;
  margin-top: 95px;
}

.footer .wrapper {
  margin: auto;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.footer .wrapper .footer-logo {
  margin-right: 37px;
}

.footer .wrapper .footer-contacts {
  margin-right: 59px;
}

.footer .wrapper .footer-contacts .contacts-text {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #635854;
  margin-bottom: 4px;
}

.footer .wrapper .footer-contacts .contacts-phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #635854;
}

.footer .wrapper .socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.footer .wrapper .socials-list .socials-link {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.footer .wrapper .socials-list .socials-link-facebook {
  background: url(../img/icon-facebook.svg);
}

.footer .wrapper .socials-list .socials-link-instagram {
  background-image: url(../img/icon-instagram.svg);
}

.footer .wrapper .socials-list .socials-link-twitter {
  background-image: url(../img/icon-twitter.svg);
}

.footer .wrapper .socials-list .socials-link-youtube {
  background-image: url(../img/icon-youtube.svg);
}

.footer .wrapper .about {
  margin-left: auto;
}

.footer .wrapper .about .about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer .wrapper .about .about-list .about-item {
  margin-left: 20px;
}

.footer .wrapper .about .about-list .about-item .about-link {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.modal .modal-dialog {
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.modal .modal-dialog .modal-image {
  background-color: #ebebeb;
  width: 60%;
  text-align: center;
  padding: 50px;
}

.modal .modal-dialog .modal-image .modal-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 25px;
}

.modal .modal-dialog .modal-image .floor-image path {
  opacity: 0;
  cursor: pointer;
}

.modal .modal-dialog .modal-image .floor-image .current-flat {
  opacity: 1;
}

.modal .modal-dialog .modal-info {
  padding: 50px 46px;
  width: 40%;
}

.modal .modal-dialog .modal-info .modal-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 25px;
}

.modal .modal-dialog .modal-info .flat-list {
  padding: 0;
  list-style: none;
  margin-top: 55px;
}

.modal .modal-dialog .modal-info .flat-list .flat-item {
  margin-bottom: 10px;
}

.modal .modal-dialog .modal-info .flat-list .flat-item .flat-link {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  text-decoration: none;
}

.modal .modal-dialog .modal-info .flat-list .flat-item .current-flat {
  color: #3596f5;
  text-decoration: underline;
}

.modal .modal-dialog .modal-info .modal-alert {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  margin-top: 56px;
}

.modal .modal-dialog .modal-close-button {
  position: absolute;
  right: 27px;
  top: 38px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.is-open {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.is-open .modal-dialog {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
